* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    text-align: center;
    color: #1a1a1a;
    background-color: #E8E8E8;
    --x-color: #437C90;
    --o-color: #E1854F;
}

h1 {
    text-align: center;
    font-size: 60px;
}

button {
    cursor: pointer;
    font-size: 25px;
}

#startBtn {
    color: #E8E8E8;
    background-color: #414770;
    border: 2px solid #02182B;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    transition: 1s;
}

#startBtn:hover, #startBtn:focus {
    background-color: #ffffff;
    color: #414770;
}

#message {
    height: 32px;
    margin-top: 20px;
    font-size: 22px;
}

#xButton {
    color: var(--x-color);
    border: none;
    background-color: transparent;
}

.xMarker {
    color: var(--x-color);
}

#oButton {
    color: var(--o-color);
    border: none;
    background-color: transparent;
}

.oMarker {
    color: var(--o-color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2% 36%;
}

section {
    grid-column: span 1;
    grid-row: span 1;
    height: 100px;
    padding: 20px;
    text-align: center;
    font-size: 45px;
    opacity: 0;
    --brdr-color: #1a1a1a;
    --brdr-width: 8px;
}

.fade-in {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#box1, #box2, #box4, #box5 {
    border-right: var(--brdr-width) solid var(--brdr-color);
    border-bottom: var(--brdr-width) solid var(--brdr-color);
}

#box3, #box6 {
    border-bottom: var(--brdr-width) solid var(--brdr-color);
}

#box7, #box8 {
    border-right: var(--brdr-width) solid var(--brdr-color);
}

a:link, a:visited {
    color: Blue;
    text-decoration: none;
}

footer {
    font-size: 18px;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 10% 14%;
    }

    #xButton {
        padding-right: 5px;
    }
}

