* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 60px;
}

button {
    cursor: pointer;
    font-size: 18px;
}

#setup {
    visibility: hidden;
    margin: 20px;
    font-size: 18px;
}

#xButton {
    color: red;
    border: none;
    background-color: none;
}

.xMarker {
    color: red;
}

#oButton {
    color: green;
    border: none;
    background-color: none;
}

.oMarker {
    color: green;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 6% 35%;
}

section {
    grid-column: span 1;
    grid-row: span 1;
    max-width: 150px;
    height: 100px;
    padding: 20px;
    text-align: center;
    font-size: 45px;
}

#box1, #box2, #box4, #box5 {
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
}

#box3, #box6 {
    border-bottom: 3px solid #333;
}

#box7, #box8 {
    border-right: 3px solid #333;
}

a:link, a:visited {
    color: Blue;
    text-decoration: none;
}

footer {
    position: relative;
    font-size: 18px;
    font-style: italic;
}


